body{
  background-image: url('./assets/Photos/0F7A2527-2.jpg');
  background-size: 50%;
}
h1{
  text-align: center;
}
h2{
  text-align: center;
}
h3{
  text-align: center;
}

.right{
  margin-left: auto;
  margin-right: 0;
}

.Home-Wrap{
  padding:250px 0 170px;
}

.container2{
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-right: auto;
  margin-left: auto;
}

.navbar-margin{
  margin-left: 40%;
}

.Footer{
  background-color: #343434;
  color: white;
  display: flex;
  flex-direction: column;
}

.Introduction-Text{
  text-align: center;
}

.Name-Text{
  font-size: 80px;
  color: #0094FF;
}

.Self-Descriptor{
  font-size: 40px;
  color: #0087e7;
}

.Description{
  background-color: azure;
  text-align: center;
  padding: 10px;
  padding-top: 50px;
  padding-bottom: 50PX;
}
.Project-Showcase{
  background-color:#343434;
  color:white;
  text-align: center;
  padding: 10px;
  padding-top: 10px;
  padding-bottom: 50px;
  
}
.Projects-Header{
  font-size: 60px;
  padding-top: 10px;
  padding-bottom: 20px;
}
.Featured-Projects{
  display: inline-block;
  color:black;
}

.Project-Cover-Image{
  height: 15rem;
  object-fit: cover;
}

/* .Column-Setup */

.column-style-1{
  display: inline-block;
  vertical-align: top;
  width: 20%;
  margin: 10px;
  padding: 10px;
  padding-right: 30px;
  padding-left: 30px;
  text-align: center;
  box-sizing: content-box;
}
.Footer-Col{
  display: inline-block;
  vertical-align: top;
  margin: 20px;
  padding: 20px;
}

.modal-90w{
  min-width: 90%;
}

/* Modal Formats */
.Mod-Banner-Image{
  min-width: auto;
  min-height: auto;
}


/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: .5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
