body {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)),
    url('./assets/Photos/Background-Image.jpg');
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: top;
  background-repeat: repeat;
  background-attachment: fixed;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

h3 {
  text-align: center;
}

.right {
  margin-left: auto;
  margin-right: 0;
}

.Home-Wrap {
  padding-top: 12%;
  padding-bottom: 12%;
}

.container2 {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-right: auto;
  margin-left: auto;
}

.navbar-margin {
  margin-left: 40%;
}

.Footer {
  background-color: #343434;
  color: white;
  padding-top: 2%;
  padding-bottom: 3%;
}

.Introduction-Text {
  text-align: center;
}

.Name-Text {
  font-size: 80px;
  color: #0094FF;
}

.Self-Descriptor {
  font-size: 40px;
  color: #0087e7;
}

.Description {
  background-color: azure;
  text-align: center;
  padding: 10px;
  padding-top: 50px;
  padding-bottom: 50PX;
}

.Project-Showcase {
  background-color: #343434;
  color: white;
  text-align: center;
  padding: 10px;
  padding-top: 10px;


}

.Projects-Header {
  font-size: 60px;
  padding-top: 10px;
  padding-bottom: 20px;
}

.Featured-Projects {
  display: inline-block;
  color: black;
  padding-bottom: 50px;
}

.Project-Cover-Image {
  height: 15rem;
  object-fit: cover;
}

/* .Column-Setup */

.column-style-1 {
  display: inline-block;
  vertical-align: top;
  width: 20%;
  margin: 10px;
  padding: 10px;
  padding-right: 30px;
  padding-left: 30px;
  text-align: center;
  box-sizing: content-box;
}

.Footer-Col {
  display: inline-block;
  vertical-align: top;
  margin: 20px;
  padding: 20px;
}

.modal-90w {
  min-width: 90%;
}

/* Modal Formats */
.Mod-Banner-Image {
  min-width: auto;
  min-height: auto;
  max-height: 25rem;
}

.Mod-Title-Text {
  font-size: 40px;
  font-size: 5vw;
  /* margin-top: 5%; */
}

.Mod-URL-Text {
  font-size: 1.5vw;
  margin-top: 5%;
}

.Mod-GitHub {
  display: block;
  max-height: 6vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;

}

.Mod-Body-Image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  height: auto;
}

.Mod-Body-Video {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  max-width: 100%;
}

.Mod-Body-Text {
  font-size: 25px;
  margin-top: 3%;
  margin-bottom: 3%;
}



/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: .5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */